<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculator</title>
</head>

<body>
<form action="/calculator/calc.html" method="get">
	<input type="hidden" name="previous_num" value={% if previous_num %}{{previous_num}}{% else %}{{''}}{% endif %}>
	<input type="hidden" name="current_op" value={% if current_op %}{{current_op}}{% else %}{{''}}{% endif %}>
		
	<input type="text" name="current_num" value={% if current_num %}{{current_num}}{% else %}{{'0'}}{% endif %} readonly>
	<br><br>
	<input type="submit" value="1" name="digit">
	<input type="submit" value="2" name="digit">
	<input type="submit" value="3" name="digit">
	<br>
	<input type="submit" value="4" name="digit">
	<input type="submit" value="5" name="digit">
	<input type="submit" value="6" name="digit">
	<br>
	<input type="submit" value="7" name="digit">
	<input type="submit" value="8" name="digit">
	<input type="submit" value="9" name="digit">
	<br>
	<input type="submit" value="0" name="digit">
	<input type="submit" value="+" name="op">
	<input type="submit" value="-" name="op">
	<input type="submit" value="*" name="op">
	<input type="submit" value="/" name="op">
	<input type="submit" value="=" name="op">
	{% csrf_token %}
</form>

</body>
</html>