<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Mellon Planner</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <link href='../static/css/fullcalendar.css' rel='stylesheet' />
    <link href='../static/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='../static/css/moment.min.js'></script>
    <script src='../static/css/jquery.min.js'></script>
    <script src='../static/css/fullcalendar.min.js'></script>
    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" style="color:white"><h1>Mellon Planner</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                  <form method="post" action="/logout">
                    <input type="submit" value="Logout" class="btn btn-primary">
                    {% csrf_token %}
                  </form>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <br><br><br><br>
            <form method="post" action="/getschedules/">
              
                <select name="semester" class="form-control">
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer 1">Summer 1/All</option>

                    <option value="Summer 2">Summer 2</option>

                </select>
              <br>
              <input type="text" name="loc" class="form-control" placeholder="Enter classes" required autofocus>
              (For example: 15-122, 15-150, 21-127, 57-173...)
              <br>
              <input type="text" name="minunits" class="form-control" placeholder="Enter minimum units" required autofocus>
              (Enter the minimum units you need to take)
              <br>
              <input type="text" name="maxunits" class="form-control" placeholder="Enter maximum units" required autofocus>
              (Enter the maximum units you are willing to take)
              <br>
              <br>
              <input type="submit" value="Submit" class="btn btn-primary">
              {% csrf_token %}
            </form>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id='calendar1'></div>
          
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src='../static/css/fullcalendar.min.js'></script>
    <script>

  $(document).ready(function() {

    $('#calendar1').fullCalendar({
      minTime: '06:00:00',
      defaultView: 'agendaWeek',
      header: {
        left: '',
        center: '',
        right: ''
      },
      allDaySlot: false,
      defaultDate: '2015-02-12',
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: [
      {% for cls in schedule %}
      {
        title: '{{cls.title}}',
        start: '{{cls.start}}',
        end: '{{cls.end}}'
      },
      {% endfor %}
      ]
    });
    $( "th.fc-sun" ).html("Sunday");
    $( "th.fc-mon" ).html("Monday");
    $( "th.fc-tue" ).html("Tuesday");
    $( "th.fc-wed" ).html("Wednesday");
    $( "th.fc-thu" ).html("Thursday");
    $( "th.fc-fri" ).html("Friday");
    $( "th.fc-sat" ).html("Saturday");
  });
  

</script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://getbootstrap.com/assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>